
.colorG {
    color: #e6e7e9;
}


.colorB {
    color: #293855;
}

.colorBCode {
    color: #6d70cf;
}

.colorRCode {
    color: #bf3f3f;
}

.colorG1 {
    color: #f2f2f2;
}

/*$redwine: #bf3f3f;
        $red: #bb3b3b;
        $white: #fff;
        $dark-grey: #808080;
        $light-grey: #f2f2f2;
            */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    font-size: 1em;
}


.mySlides {
    display: none;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 100px;
    vertical-align: middle;
    border: 2px solid #808080;
    box-shadow: 5px 5px 10px #808080;
}

body {
    background-color: #e6e7e9;
    color: black;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4rem;
    margin: 0;
}

a {
    color: #808080;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    width: 70%;
    display: inline;
}

a:active,
a:hover {
    outline: 0;
    color: #bf3f3f;
}

.nav_link_func {
    color: black;
}



.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}


.text {
    color: #808080;
    font-size: 1.5em;
    padding: 8px 12px;
    position: absolute;
    top: -50px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}


.numbertext {
    color: #293855;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}


#brandDiv {
    margin-top: 15px;
    margin-left: 30px;
    color: #808080;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    width: 300px;
}



.bigLetter {
    font-size: 2.5em;
    font-family: 'Kalam', cursive;
}

.bigLetterOK {
    font-size: 20em;
    color: red;
    width: auto;
    font-family: 'Kalam', cursive;
}



#divOK {
    z-index: 10;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 66%;
    height: 200px;
    color: #293855;
    animation: fade 5s infinite;
}

code {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    color: black;
    font-size: 1em;
}


#brandDiv.navbar-brand {
    font-size: 1.8em;
    width: 300px;
    top: 15px;
    margin-left: 0;
    padding-left: 0;
    left: 0;
}

navbar-default,
div.navbar-header {
    height: 80px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 12;
    background-color: whitesmoke;
    top: 0;
    border-bottom: 2px solid #293855;
}



a:active,
a:hover {
    font-size: 1em;
    outline: 0;
    color: #bf3f3f;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #bf3f3f;
    font-size: 1.1em;
}

.navbar-default .navbar-nav > li {
    z-index: 12;
}

.container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}


div#welcomeFunc,
#div#a_myProjects {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.func {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    font-size: 1.5em;
}


#welcome-section,
#myProjects,
#aboutMe {
    background-color: white;
    width: 85%;
    height: 100%;
    padding: 50px;
    overflow: hidden;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    border: 2px solid #808080;
    box-shadow: 5px 5px 10px #808080;
    line-height: normal;
}

#contactMe {
    width: 100%;
    margin-top: 30px;
}

section#contactMe.section.container {
    padding: 0;
}


#contactMeFunc {
    display: block;
    width: 100%;
    padding: 0;
    background-color: whitesmoke;
    font-size: 1.3rem;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    border-top: 2px solid #293855;
}



@media screen and (min-width: 625px) and (max-width: 1212px) {
    .slideshow-container {
        width: 500px;
    }

    img {
        width: 500px;
    }

    #divOK {
        width: 100%;
        display: inline-block;
        font-size: 14em;
        z-index: 10;
    }

    span.letterK.colorB {
        width: auto;
        float: left;
    }

    span.letterO.colorRCode {
        width: auto;
        float: left;
        margin-right: 6%;
    }

    #welcome-section,
    #myProjects,
    #aboutMe {
        display: block;
        background-color: white;
        width: 90%;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    navbar-default,
    div.navbar-header {
        z-index: 13;
    }

    .navbar-collapse.collapse {
        display: inline-block;
    }

    #collapsable-nav {
        font-size: 1.4em;
        position: fixed;
        top: 0px;
        background-color: whitesmoke;
        width: 80%;
        margin-left: 270px;
        z-index: 13;
    }

    .nav > li {
        position: relative;
        display: inline-block;
        padding: 10px 15px;
    }


    li.list {
        width: 180px;
        display: inline;
        z-index: 13;
        background-color: whitesmoke;
        border: none;
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {

    #mainDiv {
        display: block;
    }

    #collapsable-nav {
        font-size: 1.4em;
        position: fixed;
        top: 80px;
        z-index: 11;
        width: 100%;
        background-color: #e6e7e9;
        border-bottom: 1px solid #808080;
    }

    #welcome-section,
    #myProjects,
    #aboutMe {
        position: relative;
        display: block;
        background-color: white;
        width: 90%;
        margin-top: 100px;
        height: auto;
        padding-bottom: 20px;
        font-size: 1.2em;
    }

    div.text {
        font-size: 1em;
    }

    .slideshow-container {
        width: 400px;
    }

    img {
        width: 400px;
    }


    #divOK {
        font-size: 10em;
        width: 90%;
    }

    div#myProjects.container {
        padding: 0;
        margin-bottom: 30px;
    }

    span.letterK.colorB {
        width: auto;
        float: left;
    }

    span.letterO.colorRCode {
        width: auto;
        float: left;
        margin-right: 50px;
    }

    div#myProjectsFunc.func {
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 20px;
        margin-top: 30px;
    }

    .func {
        font-size: 1em;
        height: auto;
    }


    li {
        display: block;
        margin: 0;
        left: 0;
        padding: 10px;
        text-decoration: none;
        width: 100%;
        border-bottom: 1px solid #4D2C18;
    }

        li:hover {
            background-color: white;
        }

        li a {
            font-size: 1em;
            width: 100%;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        li:last-child {
            border-bottom: none;
        }

    span.navbar-brand {
        width: 100%;
        display: inline-block;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 540px) {
    .text {
        font-size: 11px;
    }

    span.letterK.colorB {
        width: 30%;
        float: left;
    }

    span.letterO.colorRCode {
        width: 30%;
        float: left;
        margin-right: 40px;
    }
}
